{% extends 'bootstrap/base.html' %}

{% block title %}Programming IoT TuteLab 06 - Part 1{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<form action="{{ url_for('patient_reg') }}" method="post">

    {{ form.csrf_token() }}

    {% for field in form if field.name != "csrf_token" %}
        <p>{{ field.label() }}</p>
        <p>{{ field }}
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
        </p>
    {% endfor %}
<button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
